/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-1 {
  width: 8.33333%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-2 {
  width: 16.66667%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-3 {
  width: 25%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-4 {
  width: 33.33333%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-5 {
  width: 41.66667%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-6 {
  width: 50%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-7 {
  width: 58.33333%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-8 {
  width: 66.66667%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-9 {
  width: 75%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-10 {
  width: 83.33333%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-11 {
  width: 91.66667%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-12 {
  width: 100%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-1 {
  width: 8.33333%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-2 {
  width: 16.66667%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-3 {
  width: 25%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-4 {
  width: 33.33333%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-5 {
  width: 41.66667%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-6 {
  width: 50%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-7 {
  width: 58.33333%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-8 {
  width: 66.66667%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-9 {
  width: 75%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-10 {
  width: 83.33333%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-11 {
  width: 91.66667%;
}

/* line 26, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offset-12 {
  width: 100%;
}

/* line 48, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 58, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
body {
  margin: 0;
  background-color: #818181;
}

/* line 63, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* line 68, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.logo {
  margin-top: 10px;
  height: 91%;
}

/* line 73, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.wrapper {
  display: table;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  clear: both;
  margin-bottom: 10px;
  margin-top: 40px;
}

/* line 83, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.top {
  margin-top: 70px;
}

/* line 87, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.bottom {
  margin-top: 0;
}

/* line 91, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*='.row-']:before {
  content: "";
  clear: both;
  display: table;
}

/* line 97, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*='row-']:after {
  content: "";
  clear: both;
  display: table;
}

/* line 103, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*='col-'] {
  float: left;
  padding-right: 10px;
  min-height: 40px;
  padding: 10px;
}

/* line 110, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*='offset-'] {
  float: left;
  padding-right: 10px;
  height: 40px;
}

/* line 116, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 120, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
p, .inboxhead p {
  color: #5d5d5d;
  font-size: 10pt;
  font-family: sans-serif;
}

/* line 123, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
p:hover {
  color: #000;
}

/* line 127, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav {
  margin: 0 auto;
  height: 60px;
  background-color: #323232;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 2px 2px 5px #131313;
}

/* line 136, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav ul {
  margin: 0 auto;
  display: inline;
  font-family: sans-serif;
  margin-left: 5px;
  width: 100%;
}

/* line 144, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav li {
  padding: 8px;
  float: left;
  height: 60px;
  padding-top: 12px;
  text-align: center;
  list-style: none;
  vertical-align: middle;
  transition: 0.5s ease 0s;
}

/* line 153, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav li:hover {
  background-color: #fff;
}

/* line 157, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav1 {
  width: 50px;
}

/* line 161, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav2, .nav3, .nav4, .nav5 {
  border-left: 1px #000 solid;
  width: 50px;
}

/* line 166, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
h2 {
  font-family: "Coda", cursive;
  font-size: 22pt;
  color: #97c11d;
}

/* line 172, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.icon {
  width: 100%;
}

/* line 176, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.aside {
  height: 300px;
  padding-top: 10px;
}

/* line 181, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.inboxhead {
  width: 100%;
  font-family: "Coda", cursive;
  font-size: 14pt;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  height: 95%;
  box-shadow: 3px 3px 3px #5d5d5d;
  margin-top: 5px;
}

/* line 187, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.inboxhead ul {
  list-style: none;
  margin-top: 0px;
  height: 100%;
}

/* line 193, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.inboxhead li {
  margin-top: 3px;
  height: 50px;
  background-color: #323232;
  padding: 8px;
}

/* line 200, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.inboxhead p {
  color: #fff;
}

/* line 203, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.inboxhead p:hover {
  color: #5d5d5d;
}

/* line 207, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.main {
  height: 300px;
  padding: 5px;
  margin-right: 10px;
}

/* line 213, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.article {
  background-color: #fff;
  height: 500px;
  margin-right: 5px;
  box-shadow: 3px 3px 3px #5d5d5d;
}

/* line 219, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.article .upper {
  margin-left: 20px;
}

/* line 227, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.calendar {
  height: 300px;
  margin-right: 10px;
  border-radius: 5px;
}

/* line 233, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.list {
  border-radius: 5px;
}

/* line 236, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*="profile-"] {
  background-color: #fff;
  height: 100%;
  border-top: 50px;
}

/* line 242, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.profile-drop {
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #5d5d5d;
  width: 32%;
}

/* line 249, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.profile-pic {
  padding: 0;
}

/* line 257, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.profile-bio {
  margin-top: 5px;
}

/* line 261, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.profile-main {
  border-radius: 5px;
  height: 450px;
  margin-right: 10px;
}

/* line 267, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.info {
  height: 90%;
}

/* line 271, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
h3 {
  font-family: "Coda", cursive;
  margin-bottom: 5px;
}

/* line 276, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.location {
  height: 190px;
}

/* line 280, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.iframe {
  padding-right: 10px;
}

/* line 284, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.picture {
  margin: 0;
  border-radius: 5px;
}

/* line 289, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.event {
  margin-top: 70px;
}

/* line 293, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.inbox {
  height: 300px;
}

/* line 297, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.requests {
  height: 200px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
}

/* line 304, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.offers {
  height: 200px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  /* line 312, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .drop {
    clear: both;
    width: 100%;
  }
  /* line 316, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .aside {
    width: 33.32%;
  }
  /* line 319, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .main {
    width: 66.64%;
    margin-right: 0;
  }
  /* line 323, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .hide {
    display: none;
  }
  /* line 326, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .article {
    width: 50%;
    margin-right: 0;
  }
  /* line 330, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .calendar {
    height: 300px;
    margin-right: 0;
  }
  /* line 334, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .calendar, .list {
    border-radius: 0px;
  }
  /* line 337, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .nav {
    margin-right: 60%;
  }
  /* line 340, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  body::-webkit-scrollbar {
    display: none;
  }
  /* line 343, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .profile-main {
    width: 100%;
    margin-top: 0;
    border-radius: 0;
  }
  /* line 348, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .profile-drop {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  /* line 357, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .drop {
    clear: both;
    width: 100%;
  }
  /* line 361, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .aside {
    clear: both;
    width: 100%;
    height: 80px;
    margin-top: 0;
  }
  /* line 367, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .main {
    width: 100%;
    margin-top: 170px;
    height: 240px;
  }
  /* line 372, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .article {
    width: 100%;
  }
  /* line 375, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .lower {
    margin-top: 10px;
  }
  /* line 378, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .nav1, .nav2, .nav3, .nav4, .nav5 {
    width: 20%;
  }
  /* line 381, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .icon {
    width: 55%;
    vertical-align: middle;
    min-width: 30px;
  }
  /* line 386, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .list {
    margin-top: 10px;
  }
  /* line 389, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .inboxhead {
    width: 100%;
    font-family: "Coda", cursive;
    font-size: 14pt;
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    height: 100%;
    box-shadow: 3px 3px 3px #5d5d5d;
  }
  /* line 394, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .inboxhead ul {
    list-style: none;
    margin-top: 0px;
    height: 100%;
  }
  /* line 400, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .inboxhead li {
    margin-top: 0;
    border-top: 1px #000 solid;
    border-bottom: 1px #000 solid;
    height: 50px;
    background-color: #323232;
    padding: 8px;
  }
  /* line 409, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .logo {
    height: auto;
  }
  /* line 412, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .profile-main {
    height: 100%;
  }
  /* line 415, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .profile-main .iframe {
    height: 150px;
  }
  /* line 419, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
  .info {
    width: 100%;
  }
}

/*# sourceMappingURL=../css/style.map */