/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-1 {
  width: 8.33333%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-2 {
  width: 16.66667%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-3 {
  width: 25%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-4 {
  width: 33.33333%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-5 {
  width: 41.66667%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-6 {
  width: 50%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-7 {
  width: 58.33333%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-8 {
  width: 66.66667%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-9 {
  width: 75%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-10 {
  width: 83.33333%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-11 {
  width: 91.66667%;
}

/* line 14, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.col-12 {
  width: 100%;
}

/* line 18, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
body {
  margin: 0;
}

/* line 32, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.wrapper {
  display: table;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* line 39, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
img {
  width: auto;
  max-width: 100%;
  height: auto !important;
}

/* line 45, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.wrapper:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*='col-'] {
  float: left;
  min-height: 1px;
}

/* line 57, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*='offset-'] {
  float: left;
  width: auto;
}

/* line 62, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
[class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 66, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
p {
  color: #FF2D00;
  font-size: 14pt;
}

/* line 69, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
p:hover {
  color: #000;
  text-decoration: underline;
}

/* line 72, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav {
  margin: 0 auto;
  height: 40px;
  background-color: #323232;
}

/* line 77, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav ul {
  margin: 0 auto;
  display: inline;
  font-family: sans-serif;
  margin-left: 5px;
}

/* line 84, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav li {
  padding: 12px;
  float: left;
  height: 40px;
  width: 70px;
  list-style: none;
  text-align: center;
  transition: 0.5s ease 0s;
}

/* line 92, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav li:hover {
  background-color: #fff;
}

/* line 99, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav2 {
  border-left: 1px #000 solid;
}

/* line 103, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav3 {
  border-left: 1px #000 solid;
}

/* line 107, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.nav4 {
  border-left: 1px #000 solid;
}

/* line 112, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.hero {
  margin: 0;
  position: absolute;
  z-index: -1;
  overflow-x: visible;
  overflow-y: hidden;
  width: 100%;
  background-position: bottom;
}

/* line 122, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.repd {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  display: block;
  z-index: -1;
  width: 50%;
  height: 22%;
}

/* line 132, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.row-2 {
  clear: both;
  height: 400px;
}

/* line 137, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.row-3 {
  clear: both;
  margin-top: 0 auto;
  min-height: 10px;
  height: 100px;
  border: 1px #000 solid;
}

/* line 145, C:/Users/Sam/Documents/Website-Design/scss/style.scss */
.event {
  padding: 20px;
  border: 1px #000 solid;
}

/*# sourceMappingURL=../css/style.map */