$text: #000;
$size: 14pt;
$border: 1px #000 solid;
$highlight: #000;
$font: sans-serif;
$background-color: #323232;
$white: #fff;
$nav-width: 50px;
$title-1: 'Coda', cursive;
$radius: 5px;
$box-shadow: 3px 3px 3px #525252;

$max_cols : 12;
$max_width : 100%;
$single_col : $max_width / $max_cols;

@for $i from 1 through 12 {
    .col-#{$i} { width: $single_col * $i }
}

$max_cols : 12;
$max_width : 100%;
$offset_col : $max_width / $max_cols;

@for $i from 1 through 12 {
    .offset-#{$i} { width: $offset_col * $i }
}

@mixin inbox {
    width: 100%;
    font-family: $title-1;
    font-size: 14pt;
    background-color: $white;
    border-radius: $radius;
}

@mixin radius-left {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin radius-right {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-color: #818181;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.logo {
    margin-top: 10px;
    height: 91%;
}

.wrapper {
    display: table;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    clear: both;
    margin-bottom: 10px;
    margin-top: 40px;
}

.top {
    margin-top: 70px;
}

.bottom {
    margin-top: 0;
}

[class*='.row-']:before {
    content:"";
    clear: both;
    display: table;
}

[class*='row-']:after {
    content:"";
    clear: both;
    display: table;
}

[class*='col-'] {
    float: left;
    padding-right: 10px;
    min-height: 40px;
    padding: 10px;
}

[class*='offset-'] {
    float: left;
    padding-right: 10px;
    height: 40px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

p {
    color: $text;
    font-size: 10pt;
    font-family: $font;
}

.nav {
    margin: 0 auto;
    height: 60px;
    background-color: $background-color;
    width: 100%;
    position: fixed;
    top: 0; 
    box-shadow: 2px 2px 5px #131313;
    
    ul {
        margin: 0 auto;
        display: inline;
        font-family: $font;
        width: 100%;
    }
    
    li {
        padding: 8px;
        float: left;
        height: 60px;
        padding-top: 12px;
        text-align: center;
        list-style: none;
        vertical-align: middle;
        transition: 0.5s ease 0s;
        &:hover{background-color: #fff;}
    }
}

.nav1 {
    width: $nav-width;
}

.nav2, .nav3, .nav4, .nav5 {
    border-left: $border;
    width: $nav-width;
}

h2 {
    font-family: $title-1;
    font-size: 22pt;
    color: #97c11d;
}

h3 {
    font-family: $title-1;
    font-size: 15pt;
}

h4 {
    font-family: $title-1;
    font-size: 12pt;
    text-align: center;
}
.icon {
        width: 100%;
}

.aside {
    height:300px;
    padding-top: 10px;
}

.inboxhead {
    @include inbox;
    height: 95%;
    box-shadow: $box-shadow;
    margin-top: 5px;
    min-width: 80px;
    text-align: center;
    
    ul {
        list-style: none;
        margin-top: 0px;
        height: 100%;
    }
    
    li {
        margin-top: 3px;
        height: 50px;
        background-color: $background-color; 
        padding: 8px;
        min-width: 80px;
    }
    
    .msg {
        box-shadow: $box-shadow;
    }
    p {
        @extend p;
        color: $white;
        &:hover{color: #97c11d;}
    }
}

.main {
    height: 300px;
    padding: 5px;
    margin-right: 10px;
}

.article {
    background-color: $white;
    margin-right: 5px;
    box-shadow: $box-shadow;
    
    .upper {
        margin-left: 20px;
        height: auto;
    }
    .lower {
        margin-top: 0;
        height: auto;
    }
}

.calendar {
    height: 300px;
    margin-right: 10px;
    border-radius: $radius;
}

.calendar-table {
    width: 100%;
}

label {
    font-family: $font;
}
tr, th, td {
    text-align: center;
    font-family: $font;
    height: 25px;
}

td {
    background-color: #818181;
    &:hover{background-color: #97c11d;}
}

th {
    background-color: $background-color;
    color: $white;
}
.list {
    border-radius: $radius;
}
[class*="profile-"] {
    background-color: $white;
    height: 100%;
    border-top: 50px;
}

.profile-drop {
    margin-top: 20px;
    border-radius: $radius;
    box-shadow: $box-shadow;
    width: 32%;
}
.profile-pic {
    padding: 0;
}

.profile-title {
    
}

.profile-bio {
    margin-top: 5px;
}

.profile-main {
    border-radius: $radius;
    height: 450px;
    margin-right: 10px;
    box-shadow: $box-shadow;
}

.profile-card {
    margin-top: 30px;
    border-radius: $radius;
    box-shadow: $box-shadow;
}

.info {
    height: 90%;
}

.location {
    height: 190px;
}

.list-pad {
    margin: 5px;
}
.iframe  {
    padding-right: 10px;
    width: 100%; 
    height: 40%;
    frameborder: 0; 
    border: 0;
}
.picture {
    margin: 0; 
    border-radius: $radius;
}

.event {
    margin-top: 70px;
}

.feature {
    height: 150px;
    margin-top: 10px;
    .pic {
        height: 100%;
        padding: 0;
    }
    .book {
        margin-top: 30px;
        margin-left: 30px;
    }
}

.inbox {
    height: 300px;
}

.inbox-main {
    @include inbox;
    height: 450px;
    box-shadow: $box-shadow;
    margin-top: 5px;
    width: 80%;
    
    p {
        padding: 5px;
    }
}

.selector {
    height: 90%;
    background-color: #818181;
    @include radius-left;
    box-shadow: $box-shadow;
        ul {
            list-style: none;
            margin-top: 15px;
        }
        li {
            height: 18%;
            padding: 10px;
            padding-top: 15px;
            margin-bottom: 5px;
            border-radius: $radius;
            width: 100%;
            background-color: $background-color;
            text-align: center;
        }
        p {
            @extend p;
            color: $white;
            &:hover{color: #97c11d;}
        }
}

.view {
    border: $border;
    height: 90%;
    @include radius-right;
    box-shadow: $box-shadow;
    background-color: $white;
}

.requests {
    height: auto;
    background-color: $white;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: $radius;
}

.receive-top {
    margin: 0;
    height: 30px;
    margin-top: 10px;
    background-color: #818181;
    border: $border;
}

.receive-body {
    margin: 0;
    border: $border;
    border-top: none;
    height: 60px;
    
    p {
        font-size: 11pt;
        text-align: center;
    }
}

.offers {
    height: auto;
    background-color: $white;
    margin-top: 10px;
    border-radius: $radius;
}

.offer-top {
    margin: 0;
    height: 30px;
    margin-top: 10px;
    background-color: #818181;
    border: $border;
}

.offer-body {
    margin: 0;
    border: $border;
    border-top: none;
    height: auto;
    
    p {
        font-size: 11pt;
        text-align: center;
    }
}

.accept {
    background-color: $white;
    transition: 0.5s ease 0s;
    &:hover{background-color: #97c11d;}
    border: $border;
    border-radius: $radius;
    text-align: center;
    
    a {
        color: #000;
        text-decoration: none;
        &:hover {color: $white;}
    }
}

.decline {
    border: $border;
    border-radius: $radius;
    background-color: $white;
    transition: 0.5s ease 0s;
    &:hover{background-color: #FE2E2E;}
    
     a {
        color: #000;
        text-decoration: none;
        &:hover {color: $white;}
    }
}

@media (max-width: 1000px) {
        .drop {
            clear: both;
            width: 100%;
        }
        .aside {
            width: 33.32%;
        }
        .main {
            width: 66.64%;
            margin-right: 0;
        }
        .hide {
            display: none;
        }
        .article {
            width: 50%;
            margin-right: 0;
        }
        .calendar {
            height: 300px;
            margin-right: 0;
        }
        .calendar, .list {
            border-radius: 0px;
        }
        .nav {
            margin-right: 60%;
        }
        body::-webkit-scrollbar {
            display: none;
        }
        .profile-main {
            width: 100%;
            margin-top: 0;
            border-radius: 0;
        }
        .profile-drop {
            width: 100%;
            margin: 0;
            margin-top: 10px;
            border-radius: 0;
        }
        .profile-card {
            margin-top: 50px;
            border-radius: $radius;
            box-shadow: $box-shadow;
        }
        .selector {
            margin-right: 0;
            min-width: 100px;
            
            li {
                min-width: 80px;
            }
        }
        .inbox-main {
            margin: 0;
            margin-left: auto;
            margin-right: auto;
        }
        h3 {
            font-size: 12pt;
            margin: 0;
        }
    
        .feature {
            .book {
                font-size: 10pt;
            }
        }
    }

@media (max-width: 600px) {
        .drop {
            clear: both;
            width: 100%;
        }
        .aside {
            clear: both;
            width: 100%;
            height: 80px;
            margin-top: 0;
        }
        .main {
            width: 100%;
            margin-top: 170px;
            height: 240px;
        }
        .article {
            width: 100%;
        }
        .lower {
            margin-top: 10px;
        }
        .nav1, .nav2, .nav3, .nav4, .nav5 {
            width: 20%;
        }
        .icon {
            width: 55%;
            vertical-align: middle;
            min-width: 30px;
        }
        .list {
            margin-top: 10px;
        }
        .inboxhead {
        @include inbox;
        height: 100%;
        box-shadow: $box-shadow;

            ul {
                list-style: none;
                margin-top: 0px;
                height: 100%;
            }

            li {
                margin-top: 0;
                border-top: $border;
                border-bottom: $border;
                height: 50px;
                background-color: $background-color; 
                padding: 8px;
                padding-top: 15px;
            }
        }
        .logo {
            height: auto;
            width: 95%;
        }
        .profile-main {
            height: 100%;
            
            .iframe {
                height: 150px;
            }
        }
        .info {
            width: 100%;
        }
        .profile-card {
            margin-top: 50px;
            border-radius: $radius;
            box-shadow: $box-shadow;
            width: 95%;
            margin: 10px;
        }
        .inbox-main {
            height: auto;
            width: 100%;
        }
    
        .selector {
            width: 100%;
            border-radius: 0;
            
            li {
                padding-top: 10px;
            }
        }
        .view {
            width: 100%;
            margin-top: 10px;
            border-radius: 0;
        }
        .requests {
            width: 100%;
            border-radius: 0;
        }
        .offers {
            width: 100%;
            border-radius: 0;
        }
    }
