$text: #FF2D00;
$size: 14pt;
$border: 1px #000 solid;
$highlight: #000;
$font: sans-serif;
$background-color: #323232;
$white: #fff;
$nav-width: 50px;
$title-1: 'Coda', cursive;
$radius: 10px;

$max_cols : 12;
$max_width : 100%;
$single_col : $max_width / $max_cols;

@for $i from 1 through 12 {
    .col-#{$i} { width: $single_col * $i }
}

$max_cols : 12;
$max_width : 100%;
$offset_col : $max_width / $max_cols;

@for $i from 1 through 12 {
    .offset-#{$i} { width: $offset_col * $i }
}

@mixin inbox {
    width: 100%;
    font-family: $title-1;
    font-size: 14pt;
    background-color: $white;
    text-align: center;
    border-radius: $radius;
}

@mixin radius-left {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin radius-right {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

body {
    margin: 0;
    background-color: #818181;
}

body::-webkit-scrollbar {
    display: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.logo {
    margin-top: 10px;
}

.wrapper {
    display: table;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    clear: both;
    margin-bottom: 10px;
}

.top {
    @extend .wrapper;
    margin-top: 65px;
}

[class*='.row-']:before {
    content:"";
    clear: both;
    display: table;
}
[class*='row-']:after {
    content:"";
    clear: both;
    display: table;
}

[class*='col-'] {
    float: left;
    padding-right: 10px;
    min-height: 40px;
    padding: 10px;
}

[class*='offset-'] {
    float: left;
    padding-right: 10px;
    height: 40px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

p {
    color: $text;
    font-size: $size;
    &:hover{color: $highlight; text-decoration: underline;}
} 

.nav {
    margin: 0 auto;
    height: 60px;
    background-color: $background-color;
    width: 100%;
    position: fixed;
    top: 0;
    
    ul {
        margin: 0 auto;
        display: inline;
        font-family: $font;
        margin-left: 5px;
        width: 100%;
    }
    
    li {
        padding: 8px;
        float: left;
        height: 60px;
        padding-top: 12px;
        text-align: center;
        list-style: none;
        vertical-align: middle;
        transition: 0.5s ease 0s;
        &:hover{background-color: #fff;}
    }
}

.nav1 {
    width: $nav-width;
}

.nav2, .nav3, .nav4, .nav5 {
    border-left: $border;
    width: $nav-width;
}

h2 {
    font-family: $title-1;
    font-size: 22pt;
    color: #97c11d;
}

.icon {
        width: 100%;
}

.aside {
    height:300px;
    padding-top: 10px;
}

.inboxhead {
    @include inbox;
    height: 100%;
}

.main {
    height: 300px;
    padding: 5px;
}

.drop {
    height: 300px;
    padding-top: 0px;
}

.article {
    background-color: #fff;
    height: 500px;
    box-shadow: 2px 2px 5px #131313;
}

[class*="profile-"] {
    height: 100%;
    background-color: $white;
    margin-top: 10px;
}

.profile-pic {
    @include radius-left;
}

.profile-bio {
    @include radius-right;
}

.event {
    @include radius-left;
}

.dj {
    @include radius-right;
}

@media (max-width: 1000px) {
    .drop {
        clear: both;
        width: 100%;
    }
    .aside {
        width: 33.32%;
    }
    .main {
        width: 66.64%;
    }
    .hide {
        display: none;
    }
    .article {
        width: 50%;
    }
    
    .nav {
        margin-right: 60%;
    }
    
}

@media (max-width: 600px) {
    .drop {
        clear: both;
        width: 100%;
    }
    .aside {
        clear: both;
        width: 100%;
        height: 80px;
    }
    .main {
        width: 100%;
    }
    .article {
        width: 100%;
    }
    .nav1, .nav2, .nav3, .nav4, .nav5 {
        width: 20%;
    }
    .icon {
        width: 55%;
        vertical-align: middle;
        min-width: 30px;
    }
}


