$text: #FF2D00;
$size: 14pt;
$border: 1px #000 solid;
$highlight: #000;


$max_cols : 12;
$max_width : 100%; /* a var for max width */
$single_col : $max_width / $max_cols;

@for $i from 1 through 16 {

    /** on the first loop i = 1 and iterates up to 16 
        on each loop 
    ***/
    .col-#{$i} { width: $single_col * $i }
}

[class*='col-'] {
  float: left;
    
}

[class*='col-']:last-of-type {
  padding-right: 0;
}

p {
    color: $text;
    font-size: $size;
    &:hover{color: $highlight; text-decoration: underline;}
} 

.test-section {
    margin: 0 auto;
    border: $border;
}